body{
	color:#333;
	font-family: 'Raleway', sans-serif;
	height: 100%;
	padding-top: 50px;
}



.text_left{
	border-left: 1px solid;
}

.feature_holder_left{
	float: left;
	width: 75%;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid #ddd;
	padding: 3%;
}

.feature_holder_right{
	float: left;
	width: 75%;
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid #ddd;
	padding: 3%;

}


.head_holder, .head_holder h3, .head_holder h5{
	margin-bottom: 0px;
}

.image_holder{
	margin-top: 20px;
	float: left;
	width: 25%;
}

.image_holder img{
	max-width: 100%;
}

.logo_holder{
	padding-top: 30px;
	padding-bottom: 30px;


}

.logo_holder img{
	margin: 20px 0px 0px 0px;
}

.desc{
	padding: 4%;
}

.feature_holder{
	padding: 0%;
	width: 100%;
	height: auto;
	clear: both;
}

.gray_hr{
	margin-top:50px;
	border-top: 1px solid #333;
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.replace_holder{
	width: 10%;
	margin: 1.5%;
	padding:4px;
	
	display: none;


}

.replace_holder.active{
	display: inline-block;
}

.replace_holder i{
	display: inline-block;
	font-size: 9vw;
	color:#333;
	
}

.footer_holder{
	float: left;
	width: 33%;
	padding: 5%;
}

.footer_holder i{
	font-size:  10vw;
	color:#fff;
}

.footer_image{
	width: 50%;
}

.footer_container{
	/*padding: 7%;*/
	/*height: 90px;*/
}
.replace{
	width: 50%;

}

.replace_container{
	
	/*margin-top: 10%;*/
	margin-bottom: 10%;
	height: 30px;
}

.border_holder{
	  border-top:1px solid #ddd;
    padding:10px;
    /*background:#dddddd;*/
    /*border-top-left-radius:2px;*/
/*border-top-right-radius:2px;*/
/*border-bottom-right-radius:2px;*/
/*border-bottom-left-radius:2px;*/
}

.border_padding{
	padding: 2%;
}

.collapse_holder{
	padding: 4%;
}

.decor 	a{
	text-decoration: none !important;
}

.footer_trial{
	padding: 25px;
	margin-bottom: 0px;
}

#exampleInputEmail1{
	width: 60%;
	float: left;
	padding:10px;
}

#exampleInputEmail2{
	width: 100%;
	padding:10px;
	margin: 0px;
	margin-bottom: 20px;
	border-radius: 0px;
}

#email-submit{
	width: 40%;
	float: right;
	border-left: none;
}

#exampleInputEmail1, #email-submit{
	margin: 0px;
	margin-bottom: 20px;
	border-radius: 0px;
}

.replaces_text{
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: bolder;
	color:#333;
}
.bottom_margin_10px{
	margin-bottom: 10px;
}

.justify{
	text-align: justify;
	padding: 10px;
}

.padding_10px{
	padding: 10px;
}

.text-italic{
	display: none;
	font-style: italic;
}

.btn, .btn-default, button, .btn-lg{
	border-radius: 0px !important;
}

.green{
	background-color: #13ca99;
}

.green_text{
	color:#13ca99;
}

.anchor_no_style, .anchor_no_style:hover{
	color: :#fff;
	text-decoration: none;
	cursor: pointer;
}

.replace_row{
	height: 85px;
	overflow: hidden;
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.replace_logo{
	height: 75px;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	transform:scale(0);
	-ms-transform:scale(0); /* IE 9 */
	-webkit-transform:scale(0);
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.replace_logo.active{
	transform: scale(1);
	-ms-transform:scale(1); /* IE 9 */
	-webkit-transform:scale(1);
}
.replace_logo img{
	max-height: 50px;

}

.replace_logo h4{
	color: #333;
	margin-bottom: 0px;
	margin-top: 5px;
}

.contacts{
	width: 20%;
	margin: 5%;
}

.font_weight{
	font-weight: bolder;
}

.feature_margin{
	margin-bottom: 10%;
}

.play-btn img {
    opacity: 0.5;
    width: 50%;
}


/*.play-btn img:hover {
    opacity: 1;
}*/


.play-btn{
	position: absolute;
	top: 333px;
	left: 132px;
	z-index: 1;
	
}

.vid{
	padding: 3%;
}

.video-single{
	overflow: hidden;
	
}