


.logo{
	width: 100%;
	float: left;
	margin-top: 24px;

}

.logo1{
	width: 100%;
	float: left;
	margin-top: 124px;

}

.clear{
	clear: both;
}





.text_left{
	border-left: 1px solid;
}

.feature_holder_left{
	float: left;
	width: 75%;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 3%;
}

.feature_holder_right{
	float: left;
	width: 75%;
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 3%;

}

body{
	padding-top: 50px;
	height: 100%;
}

.head_holder{
	margin-bottom: 50px;
}

.image_holder{
	margin-top: 20px;
	float: left;
	width: 25%;
}

.logo_holder{
	margin-top: 30px;
	margin-bottom: 30px;

}

.desc{
	padding: 4%;
}

.feature_holder{
	padding: 5%;
}

.replace_holder{
	float: left;
	width: 20%;

}

.footer_holder{
	float: left;
	width: 33%;
}

.footer_image{
	width: 50%;
}

.footer_container{
	/*padding: 7%;*/
	/*height: 90px;*/
}
.replace{
	width: 50%;

}

.replace_container{
	
	/*margin-top: 10%;*/
	margin-bottom: 10%;
	height: 30px;
}

.border_holder{
	  border-top:1px solid #ddd;
    padding:10px;
    /*background:#dddddd;*/
    /*border-top-left-radius:2px;*/
/*border-top-right-radius:2px;*/
/*border-bottom-right-radius:2px;*/
/*border-bottom-left-radius:2px;*/
}

.border_padding{
	padding: 2%;
}

.collapse_holder{
	padding: 4%;
}

.decor 	a{
	text-decoration: none !important;
}

.mail{
	margin-bottom: 20px;
}